<mat-card *ngIf="track">
  <div>
    <span>{{ track.id }}</span>
  </div>
  <div class="form">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="track.name" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Disc</mat-label>
      <mat-select [(ngModel)]="track.disc">
        <mat-option *ngFor="let option of discs" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Number</mat-label>
      <input matInput type="number" [(ngModel)]="track.number" min="0" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <mat-select [(ngModel)]="track.genre">
        <mat-option *ngFor="let option of genres" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<div>
  <button (click)="saveTrack()">Save</button>
  <button (click)="deleteTrack()">Delete</button>
  <a [routerLink]="['/tracks']">Back</a>
</div>
