<mat-card>
  <a mat-button [routerLink]="['/genres', 'new']">Create genre</a>

  <table mat-table [dataSource]="genres">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let genre">{{ genre.id }}</td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let genre">{{ genre.name }}</td>
    </ng-container>
    
    <ng-container matColumnDef="parentGenre">
      <th mat-header-cell *matHeaderCellDef>ParentGenre</th>
      <td mat-cell *matCellDef="let genre">{{ genre.parentGenre?.name }}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let genre; columns: displayedColumns;" (click)="goToGenre(genre)"></tr>
    
  </table>
</mat-card>