<mat-card>
  <div>
    <span>{{ genre.id }}</span>
  </div>
  
  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="genre.name" />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Parent genre</mat-label>
      <mat-select [(ngModel)]="genre.parentGenre">
        <mat-option *ngFor="let option of selectableGenres" [value]="option">
          {{ option.name }}        
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  
  <a *ngIf="genre.parentGenre" [routerLink]="['/genres', genre.parentGenre.id]">
    {{ genre.parentGenre.name }}
  </a>
    
  <!-- <div *ngIf="genre.id">
    <div *ngIf="genre.genres.length > 0">  
      Subgenres  
      <ul>
        <li *ngFor="let subGenre of genre.genres">
          <a [routerLink]="['/genres', subGenre.id]">
            {{ subGenre.name }}
          </a>
        </li>
      </ul>
    </div>    
  </div> -->
</mat-card>
<div>
  <button (click)="saveGenre()">Save</button>
  <button (click)="deleteGenre()">Delete</button>
  <a [routerLink]="['/genres']">Back</a>
</div>
 