<mat-card *ngIf="album">
  <div>
    <span>{{ album.id }}</span>
  </div>
  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="album.name" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Relase year</mat-label>
      <input matInput [(ngModel)]="album.releaseYear" type="number" />
    </mat-form-field>
  </div>
</mat-card>
<div>
  <button (click)="saveAlbum()">Save</button>
  <button (click)="deleteAlbum()">Delete</button>
  <a [routerLink]="['/albums']">Back</a>
</div>
